@import url('#');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #ECF4FF;
}

header {
    display: inline;
    text-align: center;
}

header nav {
    top: 0;
    padding: 5px;
    position: sticky;
    background-color: #000;
}

header nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20%;
}

header nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}