@import url('#');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #ECF4FF;
}

header {
    display: inline;
    text-align: center;
}